<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.karabay.dao.AccountDAO">

	<!-- BaseResultMap -->
	<resultMap id="BaseResultMap" type="top.karabay.model.dao.Account">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="balance" property="balance" jdbcType="INTEGER" />
	</resultMap>

	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		ID, username, password, balance
	</sql>

	<!-- getBalanceByAccount -->
	<select id="getBalanceByAccount" parameterType="top.karabay.model.dao.Account"
		resultType="java.lang.Integer">
		select balance
		from account_t
		where username =
		#{username,jdbcType=VARCHAR}
		and password =
		#{password,jdbcType=VARCHAR}
	</select>

	<!-- updateBalanceByAccount -->
	<update id="updateBalanceByAccount" parameterType="top.karabay.model.dao.Account">
		update account_t
		set balance = #{balance,jdbcType=INTEGER}
		where username =
		#{username,jdbcType=VARCHAR}
		and password =
		#{password,jdbcType=VARCHAR}
	</update>
</mapper>