<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.karabay.dao.ProductDAO">

	<!-- BaseResultMap -->
	<resultMap id="BaseResultMap" type="top.karabay.model.Product">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="INTEGER" />
	</resultMap>

	<!-- Base_Column_List -->
	<sql id="Base_Column_List">
		ID, description, price
	</sql>

	<!-- selectByDescription -->
	<select id="selectByDescription" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from product
		where description like
		"%"#{description,jdbcType=VARCHAR}"%"
	</select>

	<!-- selectByPrimaryKey -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from product
		where ID = #{id,jdbcType=INTEGER}
	</select>
</mapper>